@model VentaWeb.Models.VentaCreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>VentaCreateModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="numeroVenta" class="control-label"></label>
                <input asp-for="numeroVenta" class="form-control" />
                <span asp-validation-for="numeroVenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idTipoDocumentoVenta" class="control-label"></label>
                <input asp-for="idTipoDocumentoVenta" class="form-control" />
                <span asp-validation-for="idTipoDocumentoVenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idUsuario" class="control-label"></label>
                <input asp-for="idUsuario" class="form-control" />
                <span asp-validation-for="idUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="documentoCliente" class="control-label"></label>
                <input asp-for="documentoCliente" class="form-control" />
                <span asp-validation-for="documentoCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nombrecliente" class="control-label"></label>
                <input asp-for="nombrecliente" class="form-control" />
                <span asp-validation-for="nombrecliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="subTotal" class="control-label"></label>
                <input asp-for="subTotal" class="form-control" />
                <span asp-validation-for="subTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="impuestoTotal" class="control-label"></label>
                <input asp-for="impuestoTotal" class="form-control" />
                <span asp-validation-for="impuestoTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="total" class="control-label"></label>
                <input asp-for="total" class="form-control" />
                <span asp-validation-for="total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idUsuarioCreacion" class="control-label"></label>
                <input asp-for="idUsuarioCreacion" class="form-control" />
                <span asp-validation-for="idUsuarioCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
